<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
		
        {{ vite src="resources/js/site.js|resources/css/site.css" }}

		<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

		<style>
			  /* Add CSS styles for the interface elements */
			  .grid {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
				grid-gap: 5px;
			}
			.section {
				background-color: lightgray;
				padding: 10px;
			}
			.row-name-input {
				width: 80px;
			}
			.seat-number-input {
				width: 40px;
			}
		</style>


    </head>
    <body>
		
        <div class="mx-auto flex flex-col items-center">
            {{ template_content }}


        </div>
    </body>



</html>
